*{
    margin: 0;
    padding:0 ;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ecf0f3;
  }
  
  .container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 300px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  button {
    font-size: 1.5rem;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(52, 152, 219, 0.5);
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #quoteContainer {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  